html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 100%; }

body { font-size: 62.5%; line-height: 1; font-family: "Microsoft Yahei", Arial, Tahoma, sans-serif; font-weight:normal;
    margin: 0px auto;
    width: auto;
    height:auto;
   
    }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img {border: 0; max-width: 100%;z-index:1;}
p{font-size: 1em; line-height: 1.2em; color: #333;}
.float-l{float:left;}
.float-r{float:right;}
a, a:link, a:visited{text-decoration:none;}
a:hover{text-decoration:underline}
input{font-family: "Microsoft Yahei";}
.clear:after{
	display: block;
	visibility: hidden;
	clear: both;
	font-size: 0;
	height: 0;
	content: ".";
}
.clear{
zoom:1;
}
.hide{display:none;}
img.background{z-index:-1;position:absolute;height:100%;width:100%;filter:alpha(opacity = 85);opacity:0.85}
#header{width:100%; background:none;border-bottom:2px solid #ccc;}
#header-content{position:relative;width:900px; margin:0 auto; color:#c4c4c4b;line-height:40px;padding:10px 0;}
#header-left{float:left; margin:0px;}
#header-right{float:right; margin:0 20px 0 0;}
#header b{float:left;margin:0 5px;color:#c4c4c4;}
#header a,#header a:visited{font-size:15px; color:#4b4b4b;float:left;padding:0 5px 0 5px;}
#header h2.header-warn-info{font-size:20px;color:#4b4b4b;font-weight:normal;}
/**/
#content-wrapper{width:900px; margin:0 auto;}
/**/
#footer{width:100%;margin:10px auto;background:none;padding:10px 0;}
#footer p{width:100%;text-align:center;color:#fff;font-size:15px;padding:7px 0;}
/**/
.border-top-org{border-top:2px solid #454d5a;}
.but-org{background:#454d5a;width:125px;border:1px solid #454d5a;border-radius:3px;height:35px; color:#ffffff;cursor:pointer;font-size:15px;}
.color-red{color:#f00;}
/**/
.schools-page,.page-wrapper{padding:10px 20px;text-align:right;}
.schools-page a,.page-wrapper a{float:left;padding:5px 10px;display:block;color:#5d5d5d;font-size:14px;}
.page-wrapper a.now,.schools-page a.now{color:#ff6600;}
/**/
.mask{z-index: 90000;background-color: black; opacity: 0.5; filter:alpha(opacity=50);overflow: hidden; width: 100%; height:100%;position: absolute; top: 0px; left: 0px;}
.close{top:1px; right:1px;cursor:pointer; z-index: 90000; height:50px; width:50px; background: url("../img/close.png"); position:absolute;}
.ma{width:30%; height:150px; border:5px solid #fff; background:#EBEBED; left:35%; position:absolute; z-index: 90000;padding:10px;}
.ma p{width:100%;line-height:30px;}
.ma p span{float:left; width:150px;text-align:center;font-size:15px;height:30px;cursor:pointer;}
.ma p span:hover{text-decoration:underline;}
#dialog input.input-text{width:60%;height:25px;line-height:25px;border:1px solid #EBEBED;}
/**/
.schools-page a{border:1px solid #ccc;margin:0 2px 0 2px;}